build/test/Analysis-00.toc
build/test/base_library.zip
build/test/EXE-00.toc
build/test/localpycs/pyimod01_archive.pyc
build/test/localpycs/pyimod02_importers.pyc
build/test/localpycs/pyimod03_ctypes.pyc
build/test/localpycs/pyimod04_pywin32.pyc
build/test/localpycs/struct.pyc
build/test/PKG-00.toc
build/test/PYZ-00.pyz
build/test/PYZ-00.toc
build/test/test.pkg
build/test/warn-test.txt
build/test/xref-test.html
dist/test.exe
test.spec
